.circleRating {
    display: inline-block;
    background-color: transparent;
    margin-left:15px;
  }
  
  .ratingValue {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFC907;
    background-color: transparent;
  }
